<!-- templates/base.html -->

<!DOCTYPE html>

{% extends "base.html" %}
{% block content %}

    <h1>{{ python_data['output_string'] }}</h1>

    <p><a href=" {{ url_for('main.jquery_post') }}">Review Example of JQuery Sending a Post Request Directly</a>  </p>
    <p><a href=" {{ url_for('main.js_add_form_row') }}">Review Example of Adding a Row to a Form Using JQuery</a>  </p>
    <p><a href=" {{ url_for('main.jquery_crud') }}">Review Example of CRUD Application using Flask / JavaScript</a>  </p>

{% endblock %}

</html>